{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
    <h1 class="font-bold text-3xl text-[#f9f3eb] bg-emerald-600 h-16 flex justify-center items-center">Create new Posts</h1>
    <div class="flex justify-center ">
        <div class="flex-col sm:w-8/12 w-11/12 mt-10 h-auto bg-emerald-500 md:w-1/4 p-3 rounded-lg flex items-center ">
        {{ include('posts/_form.html.twig') }}
</div>
    </div>
    
    <a href="{{ path('app_posts_index') }}">back to list</a>
{% endblock %}
